.weather__form {
  position: relative;
  padding-bottom: 1.2rem;
}
form {
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;

  @include breakpoint-down(medium) {
    height: 44px;
    justify-content: center;
  }
}

.input__field {
  position: relative;
  width: 70%;
  align-self: flex-end;
}

input {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  align-self: flex-end;
  outline: none;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  @include breakpoint-down(medium) {
    border-bottom: 3px solid rgba(250, 18, 18, 0.3);
  }
  &:focus ~ .underline {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.5);
    @include breakpoint-down(medium) {
      border-bottom: 3px solid rgba(250, 18, 18, 0.9);
    }
  }
}
// @include breakpoint-down(medium) {
//   input[type="text"] {
//     color: rgba(129, 66, 66, 0.9);
//     font-weight: bold;
//     font-size: 1.6rem;
//   }
// }

.underline {
  position: absolute;
  height: 3px;
  width: 100%;
  transform: scale(0);
  //   background: #000;
  //   background: red;
  //   z-index: 99;
  bottom: 0;
  transition: 0.3s ease;
}

button {
  position: relative;
  right: 0;
  top: 0;
  width: 20%;
  background: rgb(255, 51, 0);
  outline: none;
  border: none;
  @include breakpoint-down(medium) {
    height: 46px;
  }

  &:hover {
    filter: brightness(2);
  }

  &:hover h1 {
    color: red;
  }
}
button:hover input {
  color: red;
  transform: translate(50%, 50%);
}
button svg {
  width: 70%;
  height: 30%;
}

.weather__form {
  position: relative;
  @include breakpoint-down(medium) {
    position: absolute;
    top: 10px;
    left: 50%;
    padding-top: 0.5rem;
    transform: translateX(-50%);
    max-width: 390px;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 4, 40, 0),
      rgba(0, 78, 146, 0)
    );
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    // background-color: red;
    // nd-color: green;
    @include breakpoint-down(small) {
      top: 0;
    }
  }
}

.weather__searchItems {
  position: absolute;
  max-height: 173px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 260px;
  overflow: scroll;
  z-index: 999;

  @include breakpoint-down(medium) {
    left: 10px;
    min-width: 200px;
    width: 87%;
  }
}
.weather__searchItems::-webkit-scrollbar {
  display: none;
}
.linkItems {
  position: relative;
}
.linkItem {
  cursor: pointer;
  padding-left: 0.5rem;
  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}
.weather__underline {
  position: absolute;
  bottom: -1rem;
  width: 80%;
  height: 3px;
  background: rgba(255, 255, 255, 0.3);
}

.error {
  position: absolute;
  bottom: 0rem;
  font-size: 0.8rem;
  color: red;
}
